
{% extends "base.html" %}
{% block content%}
<div>


    <form action="/submit" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-11">
                    <input type="text" class="form-control" id="original-url" name="original-url" aria-describedby="input-help" placeholder="Enter url">
                    <small id="input-help" class="form-text text-muted">We'll store this for later use as well.</small>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Short</button>
                </div>
            </div>
            {% if message %}
            <div class="row">
                <div class="col-11">
                    <input id="data" value="{{ message | safe}}" class="form-control">
                </div>
                    <!-- Trigger -->
                <div class="col-1">
                    <button class="btn btn-success" data-clipboard-target="#data">
                        Copy
                    </button>  
                </div>
            </div>
            {% endif%} 
        </div>
      </form> 
    
</div>


{% endblock%}